[global]
error_log = /dev/stdout
log_level = {{ getenv "LOG_LEVEL" }}

daemonize = no

[www]
clear_env = {{ getenv "PHP_FPM_CLEAR_ENV" }}
user = {{ getenv "PHP_RUN_USER" }}
group = {{ getenv "PHP_RUN_GROUP" }}

listen = 127.0.0.1:9000
listen.owner = {{ getenv "PHP_RUN_USER" }}
listen.group = {{ getenv "PHP_RUN_GROUP" }}

pm = ondemand
pm.max_children = {{ getenv "MAX_CHILDREN" }}
pm.max_requests = {{ getenv "MAX_REQUESTS" }}
pm.process_idle_timeout = {{ getenv "PROCESS_IDLE_TIMEOUT" }}

chdir = /srv/www

env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
